[Unit]
Description=Hydrominder Shutdown Signal Watcher

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/bin/bash /var/lib/hydrominder/scripts/signal-watchers/shutdown-watcher.sh

[Install]
WantedBy=multi-user.target