[Unit]
Description=Hydrominder Update Signal Watcher

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/bin/bash /var/lib/hydrominder/scripts/signal-watchers/update-watcher.sh

[Install]
WantedBy=multi-user.target